<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Huts1"
        tools:targetApi="34">
        <activity
            android:name=".details.QuettaStudentCafeActivity"
            android:exported="false"
            android:theme="@style/Custom.Theme.Huts"/>
        <activity
            android:name=".details.ShinwariRestaurantActivity"
            android:exported="false"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".details.ShahidlahorinaashtaActivity"
            android:exported="false"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".details.UmerfoodsActivity"
            android:exported="false"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".details.KarachihutsActivity"
            android:exported="false"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".details.MalakandhutsActivity"
            android:exported="false"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".details.FoodieshutsActivity"
            android:exported="false"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".details.JanbiryaniActivity"
            android:exported="false"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".details.HnineActivity"
            android:exported="true"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".details.BioHutsActivity"
            android:exported="true"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".details.DaniyalHutsActivity"
            android:exported="true"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".details.ShabbirHutsActivity"
            android:exported="true"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".details.MphilCanteenActivity"
            android:exported="true"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".details.HikmatHutsActivity"
            android:exported="true"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".details.FaizanHutsActivity"
            android:exported="true"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".details.QuettaCafeActivity"
            android:exported="true"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".details.ParadiseHutsActivity"
            android:exported="true"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".details.SocialHutActivity"
            android:exported="true"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".details.MajeedHutsActivity"
            android:exported="true"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".details.QuaCafeActivity"
            android:exported="true"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".ui.ChatsActivity"
            android:exported="false"
            android:theme="@style/Custom.Theme.Huts"
            android:windowSoftInputMode="stateHidden" />

        <service
            android:name=".messeges.MessegeClass"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.Send">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="om.google.android.c2dm.intent.Recieve" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.MyOrdersActivity"
            android:exported="true"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".ui.OtpViewActivity"
            android:exported="true"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".ui.PaymentActivity"
            android:exported="true"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".ui.OrderActivity"
            android:exported="true"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".ui.HutsActivity"
            android:exported="true"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".ui.CartsActivity"
            android:exported="false"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".ui.SpeciaLOfferActivity"
            android:exported="false"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".ui.FastFoodAndOtherActivity"
            android:exported="false"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".ui.LunchAndDinnerActivity"
            android:exported="false"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".ui.BreakFastActivity"
            android:exported="false"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".ui.SettingActivity"
            android:exported="false"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".ui.DashboardActivity"
            android:exported="true"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".ui.RegistrationActivity"
            android:exported="false"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".ui.SignUpActivity"
            android:exported="false"
            android:theme="@style/Custom.Theme.Huts" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Custom.Theme.Huts">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/baseline_notifications_active_24" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/material_dynamic_primary0" />
    </application>

</manifest>